ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}
#contenedor{
    max-width: 400px;
}
#content_img{
    display:flex;
    align-items: center;
    justify-content:center;
}
#img{
    max-height: 450px;
    max-width: 450px;
}
#parrafo{
    color: blue;
}

@media screen and (max-width: 400px){ 
    #img{
        max-height: 200px;
        max-width: 200px;
    }
    #parrafo{
        color: red;
    }
    
}