#contenedor_SliderBanner1{
    max-width: 400px;
    text-align: center;
}
#content_img_SliderBanner1{
    display:flex;
    align-items: center;
    justify-content:center;
}
#content_img_SliderBanner1{
    max-height: 450px;
    max-width: 450px;
}
a{
    text-decoration:none
}