#contenedor_proceso{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    
}
#centro_contenedor_proceso{
    width: 50%;
}
#titulo_proceso{
    font-family: InterVariable, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 50px;
    text-decoration: none solid rgb(17, 24, 39);
    text-align: center;
    margin-top: 20px;
    margin-bottom:20px;
}

#pasos_proceso{
    height: 30vh;
    width: 100%;
    display:flex;
    flex-direction: row;
}
#pasos_proceso_icons{
    height: 30vh;
    width: 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pasos_proceso_icons_aprobado{
    height: 10vh;
    width: 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pasos_proceso_palabras{
    height: 30vh;
    width: 80%;
}
#pasos_proceso_icons_superior{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon_down{
    color: #2563EB;
}
#pasos_proceso_icons_inferior{
    background-color: #D1D5DB;
    height: 70%;
    width: 2px;
}
#pasos_proceso_palabras_superior{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: InterVariable, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 35px;
    text-decoration: none solid rgb(17, 24, 39);
    flex-wrap: wrap;
}
#pasos_proceso_palabras_inferior{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: InterVariable, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 30px;
    text-decoration: none solid rgb(75, 85, 99);
}


@media screen and (max-width: 900px){ 
    #centro_contenedor_proceso{
        width: 80%;
    }
}
@media (max-width: 600px){ 
    #centro_contenedor_proceso{
        width: 95%;
    }
    #titulo_proceso{
        font-size: 25px;
        font-weight: 700;
        letter-spacing: -0.5px;
        line-height: 30px;
    }
    #pasos_proceso_palabras_superior{
        margin-left:20px;
        width: 90%
    }
}
