#contenido_body{
    display: flex;
    justify-content: center;
}
#contenido_div{
    max-width: 400px;
    margin-top: 10vh;
    text-align: center;
}
#items{
    width: 100%;
    padding: 5px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, sans-serif;
    font-size: 17px;
    line-height: 23.8px;
    color: #000000;
    overflow-wrap: break-word;


}
#linea{
    width: 100%;
    height: 1px;
    background-color: #000000;
    opacity: 30%;
    margin:5px;
}