#contenido{
    height:200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: red;
}
#car{
    height:50vh;
    max-width: 500px;
    text-align: center;
}