#contenido_cd1mes{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#car_cd1mes{
    max-width: 500px;
    text-align: center;
}

@media screen and (max-width: 400px){ 
    #contenido_cd1mes{
        height:200%;
        justify-content: flex-start;
    }
    #titulo_cd1mes{
        font-size: 14px;
    }
}